:root {
   --dark-cyan: hsl(185, 75%, 39%);
   --very-dark-desaturated-blue: hsl(229, 23%, 23%);
   --dark-grayish-blue: hsl(227, 10%, 46%);
   --Dark-gray: hsl(0, 0%, 59%);
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   border: 1px solid black;
}

html {
   font-size: 62.5%;
}

body {
   background-color: var(--dark-cyan);
   font-family: 'Kumbh Sans', sans-serif;
   padding: 5rem;
   justify-content: center;
}

/* font-size 1 */
.name,
.age,
.followers,
.likes,
.photos,
.country,
.data {
   font-size: 2.5rem;
   font-weight: 700;
}

/* font-size 2 */
.desc,
.jc {
   font-size: 1.2rem;
   place-self: center;
   padding: 0px 20px;
   letter-spacing: 1px;
}

.card {
   display: grid;
   grid-template: 100px 120px 120px 120px / repeat(3, 120px);
   grid-template-areas:
      'up1 up1 up1'
      '. img .'
      'mid mid mid'
      'bot bot bot';

   border-radius: 20px;
   /* overflow: hidden; */
   background: #fff url('./images/bg-pattern-card.svg') repeat-x;
   text-align: center;
   max-width: 360px;
}
.card-header {
   grid-area: img;
}
.card-middle {
   grid-area: mid;
   grid-auto-flow: column;
   /* align-content: stretch; */
}
.name {
   width: 40%;
}
.age {
   width: 40%;
}
.country {
   /* display: block; */
   /* width: 50%; */
}

.card-footer {
   grid-area: bot;
   display: flex;
   place-self: center;
}

img {
   border-radius: 60px;
   border: 8px solid #fff;
}
.jc {
   text-align: center;
   margin: 15px;
}
