* {
   padding: 0;
   box-sizing: border-box;
   margin: 0;
   /* border: 1px solid white; */
}
html {
   font-size: 62.5%;
}
:root {
   /* primary */
   /* --dk-blue1: hsl(162, 99%, 27%);
   --dk-blue2: hsl(29, 83%, 55%);
   --dk-blue3: hsl(239, 93%, 24%);
   --dk-blue4: hsl(310, 57%, 45%); */

   --dk-blue2: hsl(217, 28%, 15%);
   --dk-blue1: hsl(218, 28%, 13%);
   --dk-blue3: hsl(216, 53%, 9%);
   --dk-blue4: hsl(219, 30%, 18%);
   /* accent */
   --cyan1: hsl(176, 68%, 64%);
   --blue2: hsl(198, 60%, 50%);
   --lg-red1: hsl(0, 100%, 63%);
   /* Neutral */
   --white1: hsl(0, 0%, 100%);
}
body {
   font-family: 'Open Sans', sans-serif;
   font-size: 1.4rem;
   line-height: 2rem;
   color: var(--white1);
   background-color: var(--dk-blue1);
   display: grid;
   grid-template-columns: auto;
   width: 100vw;
}
h1 {
   line-height: 3rem;
   font-size: 2.3rem;
}
h2 {
   font-size: 1.6rem;
   margin-bottom: 1.5rem;
   line-height: 2rem;
}
.header {
   max-width: 100vw;
   display: grid;
   grid-template-columns: 2fr 0.5fr 5fr;
   grid-template-areas: 'logo . menu';
   background-color: var(--dk-blue2);
}
.logo {
   grid-area: logo;
   max-width: 8rem;
   justify-items: start;
   margin: 2rem 1.5rem;
}
.menu {
   grid-area: menu;
   align-self: center;
   font-size: 1.1rem;
}
.menu ul {
   display: grid;
   grid-auto-flow: column;
   justify-content: space-evenly;
}
li {
   list-style-type: none;
}
.background {
   height: 35rem;
   width: 100vw;
   margin-bottom: 35rem;
   background-color: var(--dk-blue2);
   background-image: url(./images/bg-curvy-mobile.svg);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: bottom;
}
.intro {
   width: 100vw;
   margin-top: 1.5rem;
}
.img-intro {
   text-align: center;
}
.img-intro img {
   width: 100vw;
   max-width: 55rem;
   padding: 0 4rem;
}
.general {
   padding: 5rem 2rem 2rem 2rem;
   text-align: center;
}
.general__txt {
   margin: 3rem 1rem;
   padding: 0 1rem;
   background-color: var(--dk-blue1);
}
.get-access-general__form {
   background-color: var(--dk-blue1);
}
.get-access-general__form input,
.get-access-today input {
   margin: 1rem 0;
   padding: 1.5rem 0rem;
   border-radius: 8rem;
   width: 75vw;
}
.get-access-general__btn,
.get-access-today__btn {
   color: white;
   font-weight: 700;
   padding: 0 5rem;
   background-color: var(--blue2);
}
.main {
   background-color: var(--dk-blue1);
   width: 100vw;
}
.detail {
   /* width: 90vw; */
   text-align: center;
   padding: 4rem 3rem;
   background-color: var(--dk-blue1);
}
.detail__img {
   width: 16vw;
}
.productive__img {
   width: 90vw;
   padding: 3rem;
}
.productive {
   width: 90vw;
   background-color: var(--dk-blue1);
   /* text-align: center; */
}
.productive__txt {
   padding: 0 2rem;
}
.productive__txt p {
   padding: 1rem 0;
}
.productive__txt a {
   color: var(--cyan1);
}
.group-reviews {
   width: 100vw;
   display: grid;
   justify-items: center;
   background-color: var(--dk-blue1);
}
.group-reviews__decoration {
   justify-self: start;
   margin-left: 5rem;
   margin-top: 12rem;
   max-width: 2rem;
}
.review-container {
   display: grid;
   gap: 1rem;
   width: 75vw;
   justify-content: center;
   margin-bottom: 30rem;
}
.review {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto auto;
   /* grid-template-rows: 28vw 10vw; */

   /* grid-template-columns: 250px; */
   /* grid-template-rows: 10rem 60px; */
   width: 75vw;
   grid-template-areas:
      'opinion'
      'people';
   padding: 1rem 1rem;
   background-color: var(--dk-blue4);
   border-radius: 8px;
   box-shadow: 5px 8px 6px 2px rgba(0, 0, 0, 0.575);
}
.review__opinion {
   grid-area: opinion;
   height: auto;
   margin-top: 0.5rem;
   /* margin-bottom: 0.5rem; */
   font-size: 1.1rem;
}
.review__people {
   grid-area: people;
   display: grid;
   grid-template-columns: 40px auto;
   grid-template-rows: 40px;
   grid-template-areas: 'photo name-position';
   margin: 0;
}
.photo {
   grid-area: photo;
   width: 100%;
   border-radius: 50%;
   padding: 5px;
}
.name-position {
   margin: 0;
   display: grid;
   grid-auto-flow: row;
   grid-area: name-position;
}
.name {
   font-size: 1.1rem;
   font-weight: 700;
}
.position {
   font-size: 0.7rem;
   letter-spacing: 1px;
}
.get-access-today {
   width: 97vw;
   align-content: center;
   height: 0rem;
}
.get-access-today-box {
   margin: 3rem 2rem;
   position: relative;
   bottom: 15rem;
   /* height: auto; */
   /* min-width: 35rem; */
   height: 30rem;
   background-color: var(--dk-blue2);
   text-align: center;
   padding-top: 2rem;
   padding: 2rem;
   border-radius: 8px;
   box-shadow: 5px 8px 6px 2px rgba(0, 0, 0, 0.575);
}
.get-access-today-box h2 {
   margin-top: 0.5rem;
}

.get-access-today__email {
   background-color: var(--white1);
   padding-left: 3rem;
   text-align: center;
}
.footer {
   background-color: var(--dk-blue3);
   padding-top: 22rem;
   width: 100vw;
}
.footer span {
   margin-bottom: 1rem;
}
.footer__logo {
   justify-self: start;
   margin-left: 3rem;
   width: 180px;
}
.contact {
   display: grid;
   margin: 3rem;
   grid-template-columns: 3rem auto;
   gap: 1rem;
}
.about,
.contact-us {
   font-size: 1.6rem;
   display: grid;
   margin: 3rem;
   justify-self: start;
   gap: 1rem;
}
.media {
   display: grid;
   grid-auto-flow: column;
   padding: 0.5rem;
   gap: 2rem;
   margin-top: 5rem;
   margin-bottom: 3rem;
   text-align: center;
   justify-content: center;
}
.material-icons {
   width: 3rem;
   height: 3rem;
   font-size: 1.4rem;
   padding: 0.5rem;
   border-radius: 20px;
   border: 1px solid var(--white1);
}
.attribution {
   font-size: 1.1rem;
   text-align: center;
}
.attribution a {
   color: hsl(228, 45%, 44%);
}

li:hover,
.material-icons:hover,
.get-access__btn:hover {
   cursor: pointer;
}
